@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,200);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('bg.jpeg');
  background-size: cover;
  box-sizing: border-box;
  overflow-x: hidden;
  color: black;
  font-family: "open sans";
  height: 100vh;
}


/* ------------------------ NAVBAR ----------------*/

/* ------------------------ TOP SECTION ----------------*/
.banner {
  margin:17vh auto;
  width:70%;
  margin-bottom:40px;
  text-align: center;
  font-family: Pacifico;
  color: navy;
}
.banner h1 {
  font-size: 60px;
  font-weight: bold;
}
.banner p {
  padding-top: 20px;
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  word-spacing: 1px;
}

/* ------------------------ BOT SECTION ----------------*/
.container {
  width: 80%;
  height: auto;
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
}
.text {
  margin-top: 0px;
}
.text h1 {
  font-size: 30px;
  font-weight: 700;
  color: darkblue;
}
.text p {
  font-size: 18px;
  color: #fff;
  padding-top: 4px;
}
.main {
  display: flex;
  flex-direction: column;
}
.single {
  text-align: center;
  padding: 20px 25px;
}
.single i {
  font-size: 45px;
}
.single p {
  padding-top: 20px;
  color: lightyellow;
  display: block;
  font-size: 18px;
  font-weight: bolder;
}
.single a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.single a:hover {
  color: #f7e478;
}

/*FOOTER CSS*/

ul li h4 {
  color: #0ae6ee;
  font-weight: 600;
  margin-bottom: 2rem;
}

ul li {
  text-align: center;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  list-style: none;
  text-decoration: none;
}

ul li:last-child {
  margin: 0;
}

a {
  text-decoration: none;
}

i {
  font-size: 18px;
}

/* utility */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.space-between-start {
  align-items: flex-start;
  justify-content: space-between;
}

.bg-dark {
  background-color: #fff;
  color: #eff1f3;
}

.bg-dark a {
  color: #eff1f3;
}

a:hover {
  border-bottom: 2px solid #ffd700;
}

.social-link a:hover {
  border-bottom: none;
  color: #ffd700;
}

.bg-light {
  background-color: #eff1f3;
  color: darkcyan;
}

.bg-light {
  background-color: #eff1f3;
  color: darkcyan;
}

.bg-light a {
  color: darkcyan;
}

/* structure */

.wrapper {
  width: 100%;
  max-width: 1200px;
}

/* footer */

footer {
  bottom: 0;
}

.info-wrapper {
  padding: 1rem 1rem;
}

.footer-info {
  width: 100%;
}

.info-container {
  flex-basis: 50%;
}

.social-links-container {
  padding: 20px;
}

.social-link {
  padding-left: 38rem;}

.copyright-container {
  text-align: center;
}
.codepannu a{
  color:black;
}

@media screen and (max-width:535px) {
  .footer-info.flex-row {
    flex-direction: column;
    display: block;
  }
  .banner {
    width: 100%;
  }
  .social-links-container {
    padding: 1rem 1rem;
  }

  .footer-info.space-between-start {
    align-items: center;
    justify-content: center;
  }
  .info-container {
    text-align: center;
  }
  .info-container:last-child {
    margin-bottom: 0;
  }
  .social-link {
    padding-left: 12rem;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 803px) {
  .social-links-container {
    padding: 1rem 1rem;
  }
  .social-link {
    padding-right: 23rem;
  }
}
